<% target ||= nil %>
<% unless target.nil? || target.errors.to_a.empty? %>
  <div class="flash">
    <b>Errors:</b>
    <ul class="errors">
      <%= target.errors.to_a.collect{|e|"<li>#{e}</li>"}.join("\n").html_safe %>
    </ul>
  </div>
<% end %>